.modal {
  height: 100%;
  width: 100%;
  z-index: 40;
  overflow-x: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: var(--bar-indent);
  max-width: 300px;
  border: var(--border-weight) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: white;
}

.modalInput,
.modalInputError {
  width: 100%;
  padding: var(--bar-indent);
  outline: none;
  border: var(--border-weight) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bgc);
}

.modalInput:focus {
  border: var(--border-weight) solid var(--border-focus-color);
}

.modalInputError:focus {
  border: var(--border-weight) solid red;
}

.modalInput::placeholder,
.modalInputError::placeholder {
  color: var(--light-gray);
}

.modalInputWrapper {
  margin-bottom: var(--bar-indent);
}

.modalButton {
  width: 100%;
  padding: var(--bar-indent);
  text-transform: uppercase;
  outline: none;
  transition: 0.3s;
  border: var(--border-weight) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bgc);
}

.modalButton:hover {
  background-color: white;
  letter-spacing: 0.05em;
}
