.bar {
  background-color: #fff;
  border-bottom: var(--border-weight) solid var(--border-color);
}

.barContainer {
  margin: 0 auto;
  padding: var(--bar-indent);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--bar-indent);
}
